//BASE
@use './partials/base/reset';
@use './partials/base/tipografia';

//COMPONENTS
@use './partials/components/general';
@use './partials/components/header';
@use './partials/components/mainhtml';
@use './partials/components/cards';
@use './partials/components/buttons';
@use './partials/components/footer';





