//BASE
@use './partials/base/reset';
@use './partials/base/tipografia';

//COMPONENTS
@use './partials/components/general';
@use './partials/components/header';
@use './partials/components/index';
@use './partials/components/historia';
@use './partials/components/gastronomia';
@use './partials/components/sitiosturisticos';
@use './partials/components/mainhtml';
@use './partials/components/contacto';
@use './partials/components/footer';






