@use '../utilities/extend';
@use '../utilities/variables';
@use '../utilities/mixins';

//sections para las 5 paginas solo para el MAIN

//section para el main del index

.seccion-grillas {
  gap: 20px;
  margin-bottom: 40px;

  .horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
  }

  .vertical {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

  }



  .contenedor-texto {
    @extend %flex-column;
    gap: 10px;
  }

  .contenedor-imagen1,
  .contenedor-imagen2 {
    @extend %flex-column;
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: variables.$borde-imagen;
    padding: 5px;
    background-color: white;
    gap: 8px;

    /* Imagen dentro del figure */

    img {
      width: 100%;
      border-radius: 6px;
    }

    figcaption {
      font-size: 15px;
      text-align: center;
      font-style: italic;
      color: variables.$h1-color;
      /* mismo color del h1 */
      font-weight: 600;
      margin-top: 6px;
    }
  }

  .imagen-ajustada {
    margin-top: 20px;
  }

  .titulo-principal {
    margin-top: 20px;
  }

  .text-left {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;

    .contenedor-texto {
      @extend %flex-column;
      gap: 10px;
    }

    .contenedor-imagen2 {
      width: 300px;
      height: auto;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }
  }


}

//Responsivo text-left

@media (max-width: 575px) {
  .text-left {
    grid-template-columns: 1fr;
    text-align: center;

    .contenedor-imagen2 {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

//Responsivo para el main del index

@media (max-width: 575px) {
  .seccion-grillas.horizontal {
    grid-template-columns: 1fr;
    text-align: center;

    .contenedor-texto {
      align-items: center;
    }

    .contenedor-imagen1,
    .contenedor-imagen2 {
      max-width: 100%;
      height: auto;
    }

    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .seccion-grillas.horizontal {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    h1 {
      font-size: 32px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 17px;
    }
  }
}



//Main de la página de historia

// Estilos a pagina de historia 

.seccion-grillas.colonizacion {

  .contenedor-imagen-texto {

    @include mixins.flex-container(row, flex-start, flex-start);
    gap: 20px;
    margin-top: 15px; // para separar del h3 


    .contenedor-imagen2 {
      margin-right: 20px;
      max-width: 300px;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }

    .contenedor-texto {

      @include mixins.flex-container(column, flex-start, flex-start);
      flex: 1; //ocupa el resto del espacio    
      gap: 10px;
    }

  }


}



// Responsivo a página Historia 

// Para Celulares 

@media (max-width: 575px) {
  .contenedor-imagen-texto {
    @include mixins.flex-container(column, center, center);
    gap: 10px;
  }

  .contenedor-imagen2 {
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
  }

  .contenedor-texto {
    width: 100%;
    text-align: center;
  }
}


// Responsivo para tablets y laptos medianas

@media (min-width: 576px) and (max-width:992px) {
  .contenedor-imagen-texto {
    @include mixins.flex-container(row, flex-start, flex-start);
    gap: 10px;
  }

  .historia-horizontal {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .historia-colonizacion .contenedor-imagen-texto {
    flex-direction: row;
    gap: 20px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }
}

//Estilos a pagina gastronomia:

//Plato Grande

.plato-central {
  @include mixins.flex-container(row, center, center);
  margin: 0 auto;

  img {
    width: 600px;
    height: 450px;
    display: block;
  }
}

.plato-frito {
  width: 700px;
  height: auto;
}

//Agregando flexbox a la pagina gastronomía

.platos-principales {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include mixins.flex-container(column, flex-start, flex-start);
  gap: 15px;

  li {
    @include mixins.flex-container(row, flex-start, center);
    padding: 5px 10px;
    border-radius: 3px;
    gap: 20px;

    img {
      width: 270px;
      max-width: 100%;
      height: 200px;
      max-height: 100%;

      //Agrego escala a la imagen "Recomendado en Clases" con transición suave

      transition: transform 0.5s ease 0.2s;

      //Aplico Hover para que los 3 platos se vean mejor

      &:hover {
        transform: scale(1.5) translate(25px, -10px);
      }
    }
  }
}

@media (max-width: 575px) {
  .gastronomia {

    .plato-central {
      img {
        width: 100%;
        height: auto;
      }
    }

    .platos-principales {
      flex-direction: column;
      gap: 15px;
      align-items: center;

      li {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        gap: 10px;

        img {
          width: 90%;
          height: auto;
        }
      }
    }

    .contenedor-texto {

      p,
      h3 {
        font-size: 16px;
      }
    }

    .tituloh1-centrado {
      font-size: 24px;
    }
  }
}

// Para tablets y laptops medianas 
@media (min-width: 576px) and (max-width: 992px) {
  .gastronomia {

    .plato-central {
      img {
        width: 80%;
        height: auto;
      }
    }

    .platos-principales {
      li {
        img {
          width: 70%;
          height: auto;
        }
      }
    }

    .contenedor-texto {

      p,
      h3 {
        font-size: 18px;
      }
    }


  }
}

.tituloh1-centrado {
  font-size: 28px;
}

// Estilos a Sitios Turísticos

.castillo {
  margin-top: 40px;
}

.img-playaelagua {
  width: 80%;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
}

.img-basilica {
  width: 60%;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
}

//Responsivo para celulares
@media (max-width: 575px) {

  .img-playaelagua,
  .img-basilica {
    width: 90%;
  }
}

//Responsivo para la pagina contacto

.form-contacto {
  @include mixins.flex-container(column, flex-start, flex-start);
  gap: 20px;
  min-width: 300px;
  width: 40%;

  .form-entrada {
    @include mixins.flex-container(column, flex-start, flex-start);
    gap: 5px;

    label {
      font-weight: 700;
      color: rgb(23, 97, 215);
    }

    input,
    select,
    textarea {
      padding: 7px;
      border: 1px solid blue;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  .form-botones {
    @include mixins.flex-container(row, flex-start, center);
    gap: 15px;
    margin-top: 10px;

    button {
      padding: 10px 18px;
      border: none;
      background-color: aquamarine;
      color: rgb(40, 13, 212);
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
      }

      &.borrar {
        background-color: rgba(137, 43, 226, 0.482);
      }
    }
  }
}

.contacto-img {
  @include mixins.flex-container(row, flex-start, flex-start);
  gap: 40px;
  margin: 40px 0;

  img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
  }
}

.contenedor-contacto {
  @include mixins.flex-container(row, space-between, flex-start);
  border: 2px solid rgb(107, 10, 107);
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(167, 105, 225, 0.143);
  width: 100%;
  box-sizing: border-box;
}

.info-final {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: start;

  section {
    border: 1px solid blue;
    padding: 15px;
    text-align: center;
    background-color: rgba(167, 105, 225, 0.143);

    h3 {
      margin-bottom: 10px;
      color: blueviolet;
    }
  }
}

.lema {
  text-align: center;
  display: block;
  height: auto;
  padding: 10px;
}

.p-textodestacado {
  font-weight: 700;
  font-style: italic;
  color: rgb(12, 10, 150);
  text-align: center;
}

//Media Query para el main de La Página: CONTACTO 
// Menos de 576px 

@media (max-width: 575px) {
  .contenedor-contacto {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form-contacto,
  .contacto-img img {
    width: 100%;
    max-width: 100%;
  }

  .info-final {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;

    section {
      max-width: 100%;
      margin: 0 auto;
    }

    iframe {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .contenedor-contacto {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .form-contacto,
  .contacto-img img {
    width: 70%;
    max-width: 400px;
  }

  .info-final {
    grid-template-columns: 1fr;
    gap: 25px;
    text-align: center;

    section {
      max-width: 80%;
      margin: 0 auto;
    }

    iframe {
      width: 100%;
      max-width: 500px;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }
}



 //Centrado de titulo principal h1 de gastronomia- sitios turisticos y contacto/

.tituloh1-centrado {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}