//Estilos para el main de las 5 páginas del sitio web

@use '../utilities/variables';

main {
    padding: 8px 12px;
    flex: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    /* Se agrega un linear gradient bottom con un color verde marino hacia la parte inferior */

     background-image: variables.$bgimg-gradient-main;
     
}