@use '../utilities/variables';

//mixins 

//para flex-container

@mixin flex-container($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//para centrar imagenes en gastronomía - plato principal

@mixin bloque-centrado($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

//para contenedor de imagen en gastronomía

@mixin ancho_bloques($width, $max-width, $padding) {
  width: $width;
  max-width: $max-width;
  padding: $padding;
  box-sizing: border-box;
}

//bloque simple index
@mixin bloque-repetido($padding, $radius, $fondo) {
  padding: $padding;
  border-radius: $radius;
  background-color: $fondo;
  border: variables.$borde-imagen;
}

//seccion grillas en index e historia
@mixin bloque-grillas($columns, $gap, $align ) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  align-items: $align;
}