//Variables Generales

//h1 
$h1-color:  rgb(186, 14, 143);
$h1-size: 38px;

//h1 Responsivo
$h1-tablet: 34px;
$h1-celular: 30px;

//h3
$h3-color: blue;

//p
$p-color: indigo;

//background-color del main para las 5 páginas

$bgimg-gradient-main: linear-gradient(to bottom, rgba(11, 243, 243, 0.128),rgba(141, 233, 152, 0.452));

//bordes para imágenes

$borde-imagen:  2px solid rgb(25,14, 186);

//Footer
$footer-bg-color: rgba(167, 105, 225, 0.143);
$footer-textcolor: blue;
$footer-font-size: 13px;


