/* Reseteo del margin-padding */

* {
    margin: 0;
    padding: 0;
}

/* Fuente Monserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

/* Fuente Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "Libre Baskerville", serif; */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background-color: rgba(11, 243, 243, 0.128);
}

header {
    font-family: "Libre Baskerville", serif;
}

/* Navbar Bootstrap con estilo individual */
.navbar {
    background-color: rgb(25, 14, 186); /* color del fondo */
    padding: 13px 20px 12px 18px; 
}

.navbar .nav-link {
    color: white; /* color de los enlaces */
    font-family:serif; 
    font-weight:bolder;
}

.navbar .nav-link:hover {
    color:chartreuse !important; ;/* apliqué important porque fue la manera como me marque el color flotante*/
}

.navbar .nav-link:active {
    color: aqua !important; /* cuando se presiona click cambia a este color */
}


/* Navbar Brand personalizado */
.navbar .navbar-brand {
    font-family:Arial, Helvetica, sans-serif, Times, serif; /* Fuente del logotipo */
    font-style: italic;
    color: whitesmoke; 
    font-size: 26px; 
    display: flex;
    align-items: center; 
    gap:  12px; 
}

.navbar .navbar-brand img {
    width: 75px; /* tamaño del logo */
    height: auto;
}



/* Botón hamburguesa personalizado */
.navbar-toggler {
    border-color: #fff; /* borde del botón hamburguesa */
    border-width: 3px;
    border-radius: 10px; /* Agregado borde-radius */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: 2px solid whitesmoke;
    background-color:rgb(8, 8, 172);
    
}

/* Aplico pseudoclases para dar mis estilos */

.navbar-toggler:hover {
    background-color:aquamarine; 
    
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none; /* quita el borde negro del click */
    box-shadow: none; /* quita cualquier sombra */
   
    
}


main {
    padding: 8px 12px;
}

h1 {
    color: rgb(186, 14, 143);
    font-size:36px;
    font-style: italic;
    margin-top: 15px;
    font-weight: bolder;
}

h3 {
    color: blue;
    font-weight: bold;
}

p {
    color: indigo;
    
}


/* Grids y flexbox para el main */

.seccion-grillas {
  
  gap: 20px;
 
  margin-bottom: 40px;
}

 .horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
 }

 .vertical {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    
 }

 
 .contenedor-texto {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

 .contenedor-imagen1, .contenedor-imagen2  {
  width: 100%;
  height: auto;
  border-radius: 8px; 
}


/* Agregando flexbox a la pagina gastronomía */

.platos-principales {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.platos-principales li {
    display: flex;
    align-items: center; /*alinea el nombre de los platos con las imagenes de los platos*/
    justify-content: flex-start;
    padding: 5px 10px;
    border-radius: 3px;
    gap: 20px; /*Espacio vertical y horizontal entre el texto y la imagen del plato*/
}

.platos-principales li img {
  width: 270px;
  max-width: 100%;  /*utilizo esta propiedad para evitar que crezca mas de 270px a lo ancho*/
  height: 100px;
  max-height: 100%; /*utilizo esta propiedad para evitar que crezca mas de 100px a lo alto */

}

.plato-central {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plato-central img {
    width: 600px;
    height: 300px;
    display: block;
}

/* Estilos para el formulario en pagina contacto usando flexbox */

.form-contacto {
display: flex;
flex-direction: column;
gap: 20px;
margin: 15px 0;
max-width: 40%;  /*Máximo de ancho en cualquier dispositivo */
width: 100%;
}

.form-entrada {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.form-entrada label {
    font-weight:700;
    color: rgb(23, 97, 215);
}

.form-entrada input,
.form-entrada select,
.form-entrada textarea {
    padding: 7px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 16px;
}

.form-botones {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.form-botones button {
    padding: 10px 18px;
    border: none;
    background-color: aquamarine;
    color: rgb(40, 13, 212);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-botones .borrar {
    background-color: rgba(137, 43, 226, 0.482);

}

.form-botones button:hover {
    opacity: 0.7;
}


.contacto-img {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 40px 0;
}


.contenedor-contacto {
    display: flex;
    align-items: flex-start;
   justify-content: flex-start;
    gap: 100px;
    margin: 20px 0 40px 0;
    border: 2px solid rgb(107, 10, 107);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(167, 105, 225, 0.143);

}

.contacto-img img{
width: 500px;
height: 400px;
border-radius: 5px;

}

.info-final {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: start;

}

.info-final section {
    border: 1px solid blue;
    padding: 15px;
    text-align: center;
    background-color:  rgba(167, 105, 225, 0.143);
}

.info-final section h3 {
    margin-bottom: 10px;
    color: blueviolet;
}

.lema {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;


}

.p-textodestacado {
    font-weight: 700;
    font-style: italic;
    color: rgb(12, 10, 150);
    text-align: center;
   
}


/* Modifico el footer al estilo de Grids */

.f-grids {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    padding: 15px;
    background-color: rgba(167, 105, 225, 0.143);
    color: blue;
    align-items: center;
    gap: 20px;
}

.footer-info {
    display: grid;
}

.footer-p {
    margin: 0;
    font-size: 14px;
}

.f-redes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    justify-self: start; /*alineación inicial*/
}

.f-redes img {
    width: 50px;
    height: auto;
}

/* Consulta de Medios / Media Query Responsive */

/* Media Query para el navbar con 2 breakpoint para celulares, tablets y computadoras de escritorio */

/* Celulares menos de 576px*/

@media (max-width: 575px) {

    .navbar {
        padding: 8px 10px; 
    }

    .navbar-brand {
        font-size: 20px; 
    }

    .navbar-brand img {
        width: 45px; 
    }

    .navbar .nav-link {
        padding: 10px 15px; 
        font-size: 14px;
        text-align: center;
    }

    .navbar-collapse {
        background-color: rgb(25,14, 186) ;
        padding: 10px 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .navbar-toggler {
        padding: 4px; 
    }

    .navbar-toggler-icon {
        width: 21px;
        height: 17px;
    }
}

/* Tablets o Laptops entre 576px y 992px */

@media (min-width: 576px) and (max-width: 992px) {
    .navbar {
        padding: 10px 15px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .navbar-brand img {
        width: 60px;
    }

    .navbar .nav-link {
        font-size: 16px;
        padding: 6px 10px;
    }
}

/* Media Query para el footer con 2 breakpoint para celulares, tablets y computadoras de escritorio */

/* Celulares menos de 576px*/

@media (max-width: 575px) {

    .f-grids {
        grid-template-columns: 1fr; 
        text-align: center;         
        gap: 15px;
        padding: 20px;
    }

    .footer-p {
        font-size: 12px;            
        line-height: 1.4;
    }

    .f-redes {
        grid-template-columns: repeat(3, 1fr); 
        justify-items: center;
        gap: 15px;
    }

    .f-redes img {
        width: 40px; /
    }
}

/* Tablets o Laptops chicas (576px a 992px) */

@media (min-width: 576px) and (max-width: 992px) {

    .f-grids {
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px;
        padding: 20px;
    }

    .footer-p {
        font-size: 14px;
    }

    .f-redes {
        grid-template-columns: repeat(3, auto);
        justify-self: center; 
        gap: 20px;
    }

    .f-redes img {
        width: 45px; 
    }
}

/* Media Query para el main de La Página: INDEX */

/* Celulares menos de 576px */

@media (max-width: 575px) {

    .seccion-grillas.horizontal {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .contenedor-texto {
        align-items: center;
    }

    .contenedor-imagen1,
    .contenedor-imagen2 {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

/* Tablets o Laptops entre 576px y 992px */

@media (min-width: 576px) and (max-width: 992px) {    
    .seccion-grillas.horizontal {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }
}

/* Media Query para el main de La Página: CONTACTO */
/* Menos de 576px */

@media (max-width: 575px) {
  .contenedor-contacto {
    flex-direction: column;
    align-items: center;
  }

  .form-contacto,
  .contacto-img img {
    width: 100%;
  }

  .info-final {
    grid-template-columns: 1fr; /* 1 columna */
  }
}

/* Entre 576px y 991px */

@media (min-width: 576px) and (max-width: 991px) {
  .contenedor-contacto {
    flex-direction: column;
    align-items: center;
  }

  .form-contacto,
  .contacto-img img {
    width: 70%; /* ancho intermedio */
    max-width: 400px;
  }

  .info-final {
    grid-template-columns: 1fr; 
  }
}